<style>
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1.mat-h1 {
    margin-top: 40px;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  mat-grid-list {
    width: 100%;
  }

  mat-card.dashboard-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    height: 100%;
  }

  mat-card.dashboard-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }

  mat-card-title {
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .more-button {
    background-color: transparent;
    color: #555;
  }

  mat-card-content.dashboard-card-content {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ card.title }}
            <button
              mat-icon-button
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>welcome from first dashboard-card</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    }
  </mat-grid-list>
</div>
