<div>{{ product.id }}</div>
<div class="container">
  <div *ngIf="product" class="product">
    <img src="{{ product.image }}" alt="{{ product.title }}" />
    <div class="product-details">
      <div>
        <h3>{{ product.title }}</h3>
        <p (click)="onNavigate($event, product.id)">
          {{ product.description | shorten : "20" }}
        </p>
        <p class="product-price">EGP {{ product.price }}</p>
        <div class="product-rating">
          <button>{{ product.rating.rate }} <span>Rating</span></button>
          <button>{{ product.rating.count }} <span>Rates</span></button>
        </div>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </div>
  </div>
</div>
