<!-- <div
  *ngFor="
    let item of items
      | paginate
        : {
            itemsPerPage: pageSize,
            currentPage: currentPage,
            totalItems: items.length
          }
  "
>
</div>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls> -->
<!-- <div class="pagination-container">
  <button (click)="prevPage()">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages() }}</span>
  <button (click)="nextPage()">Next</button>
</div> -->
<!-- <mat-paginator [length]="products.length" [pageSize]="4" class="pag" [pageSizeOptions]="[6, 10]"
    (page)="onPageChange($event)"></mat-paginator> -->